@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800);
@import url(https://cdn.jsdelivr.net/font-hack/2.015/css/hack.min.css);
@import "variables";

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 { font-size: 48px; font-weight: 400; }
h2 { font-size: 36px; font-weight: 400; }
h3 { font-size: 24px; font-weight: 300; }

header {

  overflow-x: hidden;

  background-color: $off-black;

  .background-skew {
    width: 100%;
    height: 100vh;
    -webkit-transform: $skew;
    -moz-transform: $skew;
    -o-transform: $skew;
    background-color: #fff;
    position: relative;
    left: 50%;
    z-index: 5;
  }

}

section {

  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0px;

  &.left {
    left: 0px;
  }
  &.right {
    right: 0px;
  }

}

.code {

  .faux-html {

    $code-font-size: 18px;
    /* Character width is 11px at 18px font */
    $code-character-width: $code-font-size * 0.6111111111;

    font-family: "Hack", monospace;
    font-size: $code-font-size;
    line-height: 1.2;

    white-space: nowrap;

    .indent0 {
      margin-left: 0px;
    }
    .indent1 {
      margin-left: $code-character-width * 2;
    }
    .indent2 {
      margin-left: $code-character-width * 4;
    }
    .indent3 {
      margin-left: $code-character-width * 6;
    }
    .indent4 {
      margin-left: $code-character-width * 8;
    }

    /* Build code theme styles */
    @each $map-name, $map in $code-themes {
      /* Iterate over maps within $code-themes map */
      &.#{$map-name} {
        /* Create a class for that map eg. monokai */

        /* Get the main color from the map */
        color: map-get($map, "main");
        @each $property, $color in $map {
          /* Iterate over the theme map setting the correct color for each property */
          .#{$property} {
            color: $color;
          }
        }
      }
    }

  }

}

.design {

  display: flex;
  justify-content: center;
  align-items: center;

  .design-heading {

    /* Offset by 40px; */
    position: relative;
    top: -40px;
    background-color: #fff;
    z-index: 100;

    h3 {
      /* Shift slightly to the right */
      margin-top: 10px;
      margin-left: 100px;
    }

  }

  .guidelines {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;

    .guideline {

      $vertical-offset: 81px; /* .design-heading height */
      $horizontal-offset: 490px; /* .design-heading height */

      font-weight: 300;
      font-size: 12px;

      &.top {
        border-left: $guideline-border;
        height: 50%;
        position: relative;
        top: 0px;
        left: 50%;
        width: 0px;

        &:before {
          content: '402';
          display: block;
          margin-left: -27px;
          height: 100%;
          color: red;
          line-height: 402px;
        }

      }

      &.left {
        border-bottom: $guideline-border;
        width: calc(50% - 10px);
        position: relative;
        top: -40px;
        left: -10px;

        // &:before {
        //   content: '483';
        //   display: block;
        //   margin-left: -27px;
        //   color: red;
        // }

      }

      &.right {
        border-bottom: $guideline-border;
        width: 50%;
        float: right;
        position: relative;
        top: -40px;
      }

      &.bottom {
        border-left: $guideline-border;
        height: 50%;
        position: relative;
        left: 50%;
        width: 0px;

        &:before {
          content: '483';
          display: block;
          margin-left: -27px;
          height: 100%;
          color: red;
          line-height: 483px;
        }

      }

    }

  }

}
